.auth-form
  width: 500px
  height: 300px
  border: none
  border-radius: 10px
  margin: 0 auto
  background-color: #abc
  display: flex
  flex-direction: column
  &__wrapper
    margin: 10px auto;
  